extends layout

block content
  .container-fluid.bg
    .col-sm-12.col-md-4.col-xl-4
      .form-container
      img(src="../images/documentos-grande.webp" class="mx-auto mb-3")
      h1.text-center.pt-2 Documento
      form
        .form-group(action='/registro' method='POST')
          label(for="nombre") Nombre de documento: 
          <br>
          input(type="text" id="nombre" class="form-control" name="nombre" placeholder="Nombre Documento")
        .form-group
          label(for="tipo") Tipo de documento: 
          <br>
          input(type="text" id="tipo" class="form-control" name="tipo" placeholder="(PDF, excel, word)")
        .form-group
          label(for="tama単o") Tama単o de documento: 
          input(type="number" id="tama単o" class="form-control" name="tama単o" placeholder="KB")
        .form-group
          label(for="ubicacion") Udicacion de documento: 
          input(type="text" id="ubicacion" class="form-control" name="ubicacion" placeholder="/home/documentos/file.doc")
        .form-group
          button(type: "submit" class="btn btn-primary btn-block") Registrar Documento
        .form-group
          button(type: "submit" class="btn btn-primary btn-block") Lista de Documentos   